
body {
  background-color: #d3edea;
}
.topnav {
    background-color: #97b0ad;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
  }

  .topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Amatic SC", sans-serif;
  }


  .topnav input[type=text] [type=submit] {
    float: left;
    padding: 5px;
    border: none;
    margin-left: 5px;
    margin-left: 13px;
    font-size: 13px;
  }
     
  
  
  .topnav a:hover {
    background-color: #d3edea;
    color: black;
  }
  .topnav .icon {
    display: none;
  }
.title{
    text-align: center;
    flex-grow: 3; 
    font-size: 35px;
font-family: "Poiret One", sans-serif;
color: #000000; 
}
  
body {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  padding: 2px;
  text-align: center;
  font-size: 50px;
  font-family: "Amatic SC", sans-serif;
 background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.3);
  background-image: url("Images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #f1f1f1;
  height: 300px;
}





nav {
  float: left;
  width: 30%;
  height: 650px; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 1;
}
article {
  float: left;
  padding: 20px;
  width: 70%;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.4);
   color: #f1f1f1;
  height: 650px;
   }


@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

*{
  box-sizing: border-box;
}
html { scroll-behavior: smooth; }
    nav ul { list-style: none; padding: 0; }
    nav ul li { margin: 8px 0; }

h3{
  text-align: center;
  color: #a8a5a5;
  font-size: 60px;
  font-family: "Amatic SC", sans-serif;
  
}

h4{

  text-align: center;
  color: #f1f1f1;
  font-size: 60px;
  font-family: "Amatic SC", sans-serif;
}

.physicalcare{
  line-height: 1.5;
  text-align: center;
  color: #797777;
  font-size: larger;
  font-family:"Poiret One", sans-serif, bold;
  font-weight: bold;
}



.socialcare{
  text-align: center;
  color: #797777;
  font-size: larger;
  font-family:"Poiret One", sans-serif, bold;
  font-weight: bold;
}



.examples{
  text-align: center;
  color: #f1f1f1;
  font-size: larger;
  font-family:"Poiret One", sans-serif, bold;
  font-weight: bold;
}

   
.mentalcare{
  text-align: center;
  color: #797777;
  font-size: larger;
  font-family:"Poiret One", sans-serif, bold;
  font-weight: bold;

}


.self-care {
  background-color: #97b0ad;
}


.emotionalcare{
  text-align: center;
  color: #797777;
  font-size: larger;
  font-family:"Poiret One", sans-serif, bold;
  font-weight: bold;

}


.spritualcare { 
  text-align: center;
  color: #797777;
  font-size: larger;
  font-family:"Poiret One", sans-serif, bold;
  font-weight: bold;

}


.examples2 {
  text-align: center;
  color:black;
  font-size: larger;
  font-family:"Poiret One", sans-serif, bold;
  font-style: bold;

}

.importance {
  background-color: white;
}

.plan {
  text-align: center;
  color: #797777;
  font-size: larger;
  font-family:"Poiret One", sans-serif, bold;
  font-weight: bold;

}

.background {
  background-color: white;
  text-align: center;
  color: #797777;
  font-family:"Poiret One", sans-serif, bold;
  font-style: bold;
  font-size: 42px;
}

.descriptions {
  text-align: center;
  color: #797777;
  font-size: larger;
  font-family:"Poiret One", sans-serif, bold;
}

footer {
  background-color: #97b0ad;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif; 
 font-size: 30px;
}




